body{
    margin:0;
    font-family: "Arial", sans-serif;
    background: linear-gradient(135deg,#87ceeb,#fff8dc);
    min-height:100vh;
}

/* CONTENEDOR PRINCIPAL */
#app{
    width:100%;
    max-width:900px;
    margin:auto;
    padding:20px;
}

/* TARJETAS */
.card{
    background:white;
    border-radius:20px;
    padding:25px;
    box-shadow:0 10px 25px rgba(0,0,0,0.15);
    text-align:center;
    margin-top:20px;
}

/* TITULOS */
h1,h2{
    color:#ff6b00;
}

/* BOTONES */
button{
    background:#4caf50;
    border:none;
    color:white;
    padding:12px 25px;
    font-size:18px;
    border-radius:12px;
    cursor:pointer;
    margin-top:10px;
    transition:0.3s;
}

button:hover{
    transform:scale(1.05);
    background:#43a047;
}

/* PANTALLAS */
#pantallaInicio,
#pantallaJuego,
#pantallaFinal{
    width:100%;
}

/* CABECERA */
#cabecera{
    display:flex;
    justify-content:space-between;
    margin:10px 0;
    font-weight:bold;
    font-size:18px;
}

/* BARRA DE PROGRESO */
#progreso{
    width:100%;
    height:15px;
    background:#ddd;
    border-radius:20px;
    overflow:hidden;
    margin-bottom:15px;
}

#barra{
    height:100%;
    width:0%;
    background:linear-gradient(90deg,#4caf50,#8bc34a);
    transition:0.5s;
}

/* OPERACIONES */
#operacionFrutas,
#operacionNumeros{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:20px;
    margin:20px 0;
}

/* FRUTAS */
.objeto{
    font-size:50px;
    cursor:pointer;
    transition:0.2s;
}

.objeto:hover{
    transform:scale(1.3);
}

/* NUMEROS GRANDES */
.numeroGrande{
    font-size:60px;
    font-weight:bold;
    color:#2196f3;
    cursor:pointer;
}

/* RESULTADO */
#resultado{
    font-size:40px;
    margin:10px;
    color:#333;
}

/* INPUT */
input{
    padding:10px;
    font-size:18px;
    border-radius:10px;
    border:2px solid #ccc;
    width:200px;
    text-align:center;
}

/* MENSAJES */
.correcto{
    color:green;
    font-size:22px;
    font-weight:bold;
}

.error{
    color:red;
    font-size:22px;
    font-weight:bold;
}

/* ESTRELLAS */
#estrellasBox,
#nivelBox{
    background:#fff;
    padding:10px;
    border-radius:10px;
    box-shadow:0 5px 10px rgba(0,0,0,0.1);
}

/* OCULTAR POR DEFECTO */
#pantallaJuego,
#pantallaFinal{
    display:none;
}